<!DOCTYPE html>
<html>
<title>
    VoidBots.info
</title>
<meta name="description" content="Voidbots.info the place of info about Void Bots!">
<meta name="theme-color" content="#942DF0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="og:image"
    content="https://cdn.discordapp.com/icons/733135938347073576/a_aa6362876672e26c01edbe2cfb3f0dd5.gif ">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link rel="icon" type="image/png"
    href="https://cdn.discordapp.com/icons/733135938347073576/a_aa6362876672e26c01edbe2cfb3f0dd5.png">
<style>
    body {
        background-color: #181818;
        color: #ffffff;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 23px;
        line-height: 1.5;
    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

    p {
        text-align: center;
        font-size: 30px;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }

    footer {
        text-align: center;
    }
</style>

<body>
    <h1>VoidBots.info</h1>
    <p>
        <span class="typed-text">
        </span>
    </p>
    <br>
    <h2>Wait for v4 to come out and cause I couldn't find the FAQ</h2>
</body>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<footer style="margin-top: 50px; margin-bottom: 50px;">
    <small style="font-size: 15px; color: #aaa;">Site made by casey.#0001 ASH please don't hurt me I tried...</small>
</footer>
<script>
    let txt = 'VoidBots.info the home of info for Void Bots!';
    let speed = 50;
    let i = 0;
    function typeWriter() {
        if (i < txt.length) {
            document.querySelector(".typed-text").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    window.onLoad = typeWriter();
</script>

</html>